@import "tailwindcss";

@font-face {
  font-family: "PP Eiko";
  src: url("/fonts/pp-eiko/PPEiko-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-eiko: "PP Eiko", "sans-serif"
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
